.signin_main {
	background-image: url("../../assets/thanksgivingfood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.form{
    background-color:rgba(255,255,255,0.9);
    opacity: 1;
    width: 30%;
    top: 10;
    height: 75%;
    padding-top: 3em;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
	position: fixed;
	transform:translate(116%, 25%);
}

.form h5{
    font-size: 35px;
    font-weight: bold;
	color: black;
}
.form input[type='text'] {
	width: 50%;
	padding: 8px 15px;
	margin: 5px;
	border-radius: 5px;
}
.form input[type='password'] {
	width: 50%;
	padding: 8px 15px;
	margin: 5px;
	border-radius: 5px;
}

.form-button2 {
	padding: 19px 39px 18px 39px;
	color: #FFF;
	background-color: #238acf !important;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 50%;
	border: 1px solid #238acf !important;
	border-width: 1px 1px 3px;
	box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
	margin: 10px;
}
.form-button2:hover {
	background: #ddd;
}