body {
    background: white; 
}

.menu {
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
}

.title {
    text-align: left;
    font-size: 30px;
    margin-top: 40px;
    margin-left: 10px;
}

.item {
    margin-top: 15px;
    margin-left: 10px;
    color: darkmagenta;
    font-size: 25px;
}

.button {
    color: red;
    background-color: #4CAF50;
    display: block;
    margin-left: 10px;
    width: 250px;
}

.cart {
    text-align: left;
    font-size: 30px;
    margin-top: 40px;
}