.maincart {
    background-image: url("../../assets/seafood.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#mainContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

#cartBox {
    display: inline-block;
    background-color: #F0F8FF;
    position: relative;
    box-sizing: block;
    margin-top: 50px;
    height: 90%;
    width: 70%;
    border-radius: 5px;
    text-align: initial;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#cartTitle {
    position: absolute;
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    padding-left: 48%;
    padding-top: 20px;
    color: #2F4F4F;
}


#itemsBox {
    position: relative;
    border-style: ridge;
    background-color: rgb(255,255,255);
    height: 65%;
    width: 90%;
    margin-left: 40px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;
}

#confirmTitle {
    position: relative;
    top: 5%;
    left: 32%;
    font-size: 20px;
    padding-left: 18px;
    padding-top: 10px;
    color: #2F4F4F;
}

#checkoutButton {
    position: absolute;
    width: 150px;
    height: 45px;
    margin-left: 180px;
    margin-top: 630px;
    font-family: sans-serif;
    font-size: 25px;
    background-color: green;
    color:rgb(255, 255, 255);
    border:none;
    border-radius: 5px;
}

.paypal{
    position: relative;
    top: 0%;
    left: 25%;

}
.items{
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
    grid-row-gap: 2rem;
    grid-column-gap: 50px;

}